<h2 class="lead text-center">Foo</h2>
<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <colgroup>
      <col span="1" style="width: 33%;">
      <col span="1" style="width: 33%;">
      <col span="1" style="width: 34%;">
    </colgroup>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr ng-repeat="f in foo">
      <td>{{ f._id }}</td>
      <td>{{ f.name }}</td>
      <td>{{ f.desc }}</td>
    </tr>
  </table>
</div>
